asgiref
Django==5.1.5
mysqlclient
pytz
sqlparse
xlwt
requests
django-health-check
psutil
python-decouple
django-extensions
djangorestframework
drf-spectacular
django-filter
djangorestframework-simplejwt
redis
streamlit
langchain==0.0.306
openai==0.28.1
pipenv
