asgiref
Django==5.1.2
mysqlclient
pytz
sqlparse
xlwt
requests
django-health-check
psutil
python-decouple
django-extensions
djangorestframework
drf-spectacular
django-filter
djangorestframework-simplejwt
redis