{% extends 'taskManager/base_backend.html' %}
{% block content %}
<section class="wrapper">
    <div class="row">
        <div class="col-lg-6">
            <section class="card">
                <header class="card-header">
                    Assign user to task
                </header>
                <div class="card-body">
                    <form method="post" role="form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">User</label>
                            <select name="userid" id="userid" class="form-select">
                                {% for user in users %}
                                <option value="{{user.id}}">{{user.get_full_name}} ({{user}})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Task</label>
                            <select name="taskid" id="taskid" class="form-select">
                                {% for task in tasks %}
                                <option value="{{task.id}}">{{task.title}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-info">Update</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock %}
