{% extends 'taskManager/base_backend.html' %}

{% block content %}
<section class="wrapper">
    <div class="row">
        <div class="col-lg-6">
            <section class="card">
                <header class="card-header">
                    Edit Note
                </header>
                <div class="card-body">
                    <form method="post" role="form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Enter Note Title</label>
                            <input name="note_title" class="form-control" value="{{note.title}}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Enter Note Information</label>
                            <textarea name="text" class="form-control">{{note.text}}</textarea>
                        </div>
                        <button type="submit" class="btn btn-info">Finish</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock %}
