{% extends 'taskManager/base_backend.html' %}
{% block content %}

<!--main content start-->

    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="card">
          {% include 'taskManager/messages.html'%}
            <header class="card-header">
                TaskManager Ping Utility (DEBUG)
            </header>
            <div class="table-responsive">
                <table class="table table-hover p-table">
                    <thead>
                    <tr>
                        <form method="POST">
                        <th>IP</th>
                        <th>
                            <div class="input-group">
                                <input type="text" name="ip" class="form-control">
                                <input type="submit" name="submit" class="btn btn-info">
                            </div>
                        </th>
		        </form>
                    </tr>
                    </thead>
                    <tbody>
                       <tr>
                              <td colspan="2">
			       <pre>{{data}}</pre>
                              </td>
                  	   </tr>
                  </tbody>
                </table>
            </div>
        </section>
        <!-- page end-->
    </section>

<!--main content end-->
{% endblock %}
