{% extends 'taskManager/base_backend.html' %}
{% block content %}
<section class="wrapper">
    <div class="row">
        <div class="col-lg-6">
            <section class="card">
                <header class="card-header">
                    New Project
                </header>
                <div class="card-body">
                    <form method="post" role="form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Enter Project Title</label>
                            <input name="title" class="form-control" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Enter Project Information</label>
                            <textarea name="text" class="form-control" placeholder=""></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Enter Project Due Date</label>
                            <input name="project_duedate" class="form-control" id="datetimepicker" type="text">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Project Priority</label>
                            <select name="project_priority" class="form-select">
                                <option value="5">(!!) SUPER URGENT</option>
                                <option value="4">(!) Urgent</option>
                                <option value="3">High</option>
                                <option value="2">Medium</option>
                                <option value="1" selected="selected">Low</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-info">Finish</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock %}
