{% extends 'taskManager/base_backend.html' %}

{% block content %}
<section class="wrapper">
    <div class="row">
        <div class="col-lg-6">
            <section class="card">
                <header class="card-header">
                    Create Task
                </header>
                <div class="card-body">
                    <form method="post" role="form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Task Title</label>
                            <input name="task_title" class="form-control" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Task Information</label>
                            <textarea name="text" class="form-control" placeholder=""></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Task Due Date</label>
                            <input name="task_duedate" class="form-control" id="datetimepicker" type="text">
                        </div>
                        <button type="submit" class="btn btn-info">Finish</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock %}
