{% extends 'taskManager/base_backend.html' %}

  {% block content %}
  {% include 'taskManager/messages.html'%}
  <section class="wrapper">
  <div class="row">
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Upload a file
            </header>
            <div class="panel-body">
                <form method="post" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>File Name (required)</label>
                        <input id="id_name" maxlength="300" name="name" type="text" value="{{name}}" required/>
                    </div>
                    <div class="form-group">
                         <label>Upload with Url</label>
                        <input id="url" name="url" type="input" value="{{url}}" />
                    </div>
                    <p>OR</p>
                    <div class="form-group">
                        <input id="id_file" name="file" type="file" />
                    </div>
                     
                    <button type="submit" class="btn btn-info">Upload</button>
                </form>

                {% if data %}
                <br><br>
                <hr>
                <b>Error retrieving image, data received:</b><br>
                <pre>{{data}}</pre>
                <hr>
                {% endif %}

            </div>
        </section>
    </div>

  </div>
  </section>

{%  endblock %}
